aside {
    height: 1335px;
    width: 446px;


}

label {
    font-weight: 600;
    font-size: 13px;



}

select {
    display: block;
    height: 50px;
    font-size: 14px;
    padding: 0 17px;
    appearance: none;
    width: 386px;
    cursor: pointer;



}

.select {
    position: relative;
}

.select::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 90px;
    background-image: url(./images/select-two.png);
    background-repeat: no-repeat;
    background-position: top right;
    top: 22px;
    right: 10px;
    cursor: pointer;

}

.bttn-blue {
    color: var(--blue);
    border: 2px solid var(--blue);
    background: rgba(245, 247, 255, 1);

    cursor: pointer;
    margin: 19px 0 29px;
}

.input {
    width: 386px;
    background-color: var(--white);
    margin: 10px 0;
}



.input-label {
    margin-top: 20px;
}



.radio {
    width: 21px;
    height: 21px;

}



.black-clr {
    color: var(--black);
    max-width: 356px;
}

.flx {

    display: flex;

}

.radios:first-of-type {
    margin-top: 17px;
}

.radios:last-of-type {
    margin: 5px 0 5px;
}

.margn-top {
    margin-top: 5px;
    gap: 8px;
}


.select-two::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 90px;
    background-image: url(./images/select-two.png);
    background-repeat: no-repeat;

}






.radio:last-of-type {
    width: 17px;
    height: 17px;

}