main {
    overflow: hidden;
}

h2 {
    font-weight: 600;
    font-size: 18px;
}

h3 {
    padding-bottom: 22px;
}

aside {
    height: 313px;
    width: 446px;
    padding: 18px 30px 30px;
    margin-top: 59px;


}

.flx {
    display: flex;
    gap: 20px;
    align-items: center;
}

.shipping {
    width: 924px;
    padding: 15px 0 14px;
    margin-bottom: 25px;
}

.blue-bttn {
    width: 208px;
    height: 50px;
    text-align: center;
    color: var(--blue);
    border: 2px solid rgba(1, 86, 255, 1);
    font-weight: 600;
    font-size: 14px;
    background-color: var(--white);
    border-radius: 50px;
    cursor: pointer;
    padding: 15px 40px 20px;

}





.align-slf {
    display: flex;
    gap: 80px;




}

.range {
    border-radius: 50px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.blue-radius::after {
    position: absolute;
    content: "";
    width: 85px;
    border-top: 2.5px solid rgba(1, 86, 255, 1);
    top: 18px;
    left: 38px;

}

.blue-radius::before {
    position: absolute;
    content: "";
    width: 77px;
    border-top: 2.5px solid rgba(1, 86, 255, 1);
    top: 18px;
    right: 35px;

}



.ranges-flx {
    display: flex;
}

.blue-radius {
    border: 2.5px solid rgba(1, 86, 255, 1);
    position: relative;
    margin-right: 150px;



}

.gray-radius::after {
    position: absolute;
    content: "";
    width: 77px;
    border-top: 2.5px solid rgba(202, 205, 216, 1);
    top: 18px;
    left: 40px;

}

.gray-radius::before {
    position: absolute;
    content: "";
    width: 77px;
    border-top: 2.5px solid rgba(202, 205, 216, 1);
    top: 18px;
    right: 40px;


}




.gray-radius {
    border: 2.5px solid rgba(202, 205, 216, 1);
    position: relative;
    margin-right: 100px;
    width: 43px;
    height: 43px;

}

.black-colr {
    color: var(--black);
    position: relative;
    right: 10px;
    top: 5px;


}

.gray-colr {
    color: var(--gray);
    position: relative;
    right: 50px;
    top: 5px;


}

.range-p {
    font-size: 16px;






}



.input {
    width: 565px;
    height: 50px;
    margin: 5px 0 12px;

}

.shipping-p {
    font-size: 13px;
    max-width: 567px;
    padding: 11px 0 20px;
    margin-bottom: 21px;
}





.select::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 90px;
    background-image: url(./images/select-two.png);
    background-repeat: no-repeat;
    background-position: top left;
    top: 22px;
    left: 58%;

    cursor: pointer;

}

.padding-bttm {
    padding-bottom: 32px;
}

strong {
    font-weight: 600;
    font-size: 14px;
}

.flex {
    display: flex;
    gap: 8px;
    align-items: center;
}


.radio-label {
    font-weight: 400;
    font-size: 14px;
    max-width: 654px;


}



.radio-flx {
    display: flex;
    width: 800px;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 10px;
}

.checkout-form input[type="submit"] {
    width: 210px;
    margin: 21px 0 87px;
}

.table-p p {
    max-width: 307px;
}

.cart-info {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

    row-gap: 25px;
}

.select-img::after {

    top: 23px;
    left: 98%;

}

.select-two {
    padding: 16px 0 22px;
}