:root {
    --bg-black: rgba(2, 2, 2, 1);
    --white: rgba(255, 255, 255, 1);
    --black: rgba(0, 0, 0, 1);
    --gray: rgba(162, 166, 176, 1);
    --blue: rgba(1, 86, 255, 1);



}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    font-family: Poppins;
    overflow: scroll;



}

header {
    position: sticky;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    background-color: var(--white);



}

nav {
    padding: 8px 0;
}



form {
    margin-top: 71px 0 47px;
}

input {
    border: 2px solid var(--white);
    width: 391px;
    height: 50px;
    background-color: rgba(0, 0, 0, 1);
    color: var(--white);
    padding: 20px 293px 20px 10px;
    margin-right: 23px;


}

::-webkit-input-placeholder {
    color: var(--white);
    font-weight: 300;
    font-size: 14px;

}

button {
    cursor: pointer;
    border: none;
    background-color: var(--white);
}

address {
    font-size: 13px;
    font-style: normal;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}



h1 {
    font-size: 22px;
    font-weight: 700;
    max-width: 100px;
    text-align: center;
}

h2 {
    font-weight: 600;
    font-size: 22px;
}

h3 {
    font-weight: 600;
    font-size: 22px;
}

h4 {

    padding: 25px 0 13px;
}

h5 {
    font-size: 38px;
    font-weight: 500;
}

h6 {
    font-weight: 700;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    padding-bottom: 20px;

}

del {
    font-weight: 400px;
    font-size: 14px;
    color: var(--gray);
}

strong {
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 20PX;

}

footer {
    padding-top: 47px;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

.small-container {
    max-width: 1158px;
    margin: 0 auto;
}

.flx-start {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.flx-btwn {
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.top-heading {
    font-weight: 600;
    font-size: 32px;
    max-width: 1398px;
    text-align: left;
}

.bold-font {
    font-weight: 700;
    font-size: 18px;
}

.bg-black {
    background-color: var(--bg-black);
    color: var(--white);
}



.header_top {
    padding: 15.28px 0 13.28px;
    font-weight: 600;
    font-size: 12px;


}

.hidden-header-info {

    position: absolute;

    top: 30%;
    z-index: 999;

    display: none;
    background-color: var(--white);
    color: var(--black);
    height: 233.31546020507812px;
    width: 262px;






}

.header-time:hover .hidden-header-info {

    display: block;
}


.hidden-time {
    font-weight: 600;
    font-size: 13px;
    position: relative;


}

.time-open {
    padding: 16px 24px 0 50px;

}

.hidden-open {
    font-size: 12px;


}

.time-open img {
    width: 25px;
    height: 25px;
    position: absolute;
    left: 15px;
    top: 20px;

}



.hidden-address {
    border-top: 1px solid rgba(202, 205, 216, 1);
    border-bottom: 1px solid rgba(202, 205, 216, 1);
    padding: 11px 24px 10px 10px;
    margin: 16px 0 11px;
    width: 262px;




}

.hidden-address img {
    float: left;


}

.vr-blue {
    color: var(--blue);

}

.hidden-contact-us {
    padding-left: 21px;
}

.time {
    position: relative;
    padding: 7px;
}

.time::after {
    position: absolute;
    content: "";
    background-image: url(./images/select.png);
    left: 100%;
    top: 8px;
    width: 100%;
    height: 16px;
    background-position: left;
    background-repeat: no-repeat;

}

.gray {
    color: var(--gray);
}


.header-address a {
    color: var(--white);
    border-bottom: 2px solid rgba(255, 255, 255, 1);
    padding-bottom: 2px;
}

.social-media {
    display: flex;
    gap: 13px;
}

.grow:hover {
    transform: scale(1.2);
}

.call-us {
    display: flex;
    gap: 16px;
}

.header_main {
    border-bottom: 1px solid rgba(202, 205, 216, 1);

    padding: 27px 0 28px;

}

.FLx {
    display: flex;
    gap: 25px;



}

.nav-link {
    color: var(--black);

}

.our-deals {
    border: 2px solid var(--blue);
    border-radius: 30px;
    padding: 10px 25px;

}



.hovr-colr {
    position: relative;
}

.main-list:hover>.hovr-colr {
    color: var(--white);
    background-color: var(--blue);
    padding: 10px 25px;
    border-radius: 40px;



}




.flx {
    display: flex;
    gap: 56px;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
}

.main-list {

    position: relative;
    text-align: center;
}



.sub-ul {
    position: absolute;
    left: 50%;
    top: 130%;

    transform: translateX(-50%);
    display: none;
    z-index: 999;
    background-color: var(--white);
    border: 1px solid rgba(202, 205, 216, 1);
    width: 353px;
    height: 395px;
    padding: 0px 149px 104px 0px;




}

.main-list:hover .sub-ul {
    display: block;
}


.sub-ul>li {
    width: 353px;
}


.hovr-list:hover {
    background-color: rgba(128, 128, 128, 0.18);


}

.hovr-list {
    height: 44px;
    padding: 10px 0 22px 28px;
    text-align: left;


}

.sub-sub-ul,
.sub-sub-sub-ul {
    position: absolute;
    background-color: var(--white);
    height: 395px;
    width: 262px;
    border: 1px solid rgba(202, 205, 216, 1);

    display: none;
    top: 0;
    left: 95%;




}





.mini-list-one:hover .sub-sub-ul {
    display: block;
}



.mini-list-two:hover .sub-sub-sub-ul {
    display: block;
}

.drop {
    float: right;
    margin-right: 25px;
    padding-top: 8px;

}

.hidden-minicart {
    display: none;
    position: absolute;
    height: 511px;
    width: 310px;
    background: var(--white);
    box-shadow: 5px 10px 18px #888888;
    right: -70px;

    z-index: 555;


}



.bascket {
    position: relative;

}

.bascket:hover>.hidden-minicart {
    display: block;

}

.my-cart {
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    margin: 0 auto;
    padding: 23px 0 6px;
}

.item-cart {
    font-size: 12px;
    font-weight: 400;
    color: rgba(162, 166, 176, 1);
    text-align: center;
    padding-bottom: 25px;
}

.view-bttn {

    width: 250px;
    height: 38px;

    margin: 25px 0px 25px 25px;
    background-color: var(--white);
    color: var(--blue);
    border: 2px solid var(--blue);
    border-radius: 50px;
    padding: 10px 70px;
    font-weight: 600;
    font-size: 12px;
    text-align: center;



}

.hidden-border {
    border-top: 1px solid rgba(202, 205, 216, 1);
    border-bottom: 1px solid rgba(202, 205, 216, 1);
    padding: 17px 15px 23px 24px;
    width: 310px;

}

.hidden-border:first-of-type {
    margin-top: 25px;
}

.buttns {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-end;
}

.hidden-one {
    font-weight: 400;
    font-size: 18px;
}

.font-14 {
    font-size: 14px;
}

.hidden-minicart-info {
    font-size: 13px;
    font-weight: 400;
    max-width: 153px;
}

.sutotal {
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    padding: 16px 0 13px;
}

.black-strong {
    color: var(--black);
    font-weight: 600;
    font-size: 18px;
}

.yellow-check {
    background: rgba(255, 184, 0, 1);
    color: rgba(35, 44, 101, 1);
    font-size: 12px;
    width: 250px;
    height: 37px;
    text-align: center;
    font-weight: 600;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.check-bttn {
    color: var(--white);
    background-color: var(--blue);
    width: 250px;
    height: 37px;
    font-weight: 600;
    font-size: 14px;
    padding: 8px 70px;
    border-radius: 50px;
    margin: 13px 30px 7px;
}

.margn {
    margin: 10px 30px 0px;
}

.hidden-informations {
    height: 190.84402465820312px;
    width: 232px;
    background: var(--white);
    display: none;
    position: absolute;
    padding: 15px 30px 30px 20px;
    top: 40px;
    border: 1px solid rgba(202, 205, 216, 1);
    right: -58px;


}

.account-link {
    font-weight: 500;
    font-size: 14px;

    color: var(--bg-black);
}

.account-list {
    padding-bottom: 10px;
}

.Personal-informations-account {
    position: relative;
    width: 30px;

}

.Personal-informations-account:hover .hidden-informations {
    display: block;


}

.client-actions {
    display: flex;
    align-items: center;
    gap: 30px;
}

.slideshow {
    position: relative;



}



.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 36px;
    height: 48px;

    margin-top: -30px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;

    user-select: none;
    background: rgba(37, 41, 49, 1);

}

.next {
    right: 3px;
    border-radius: 30px 0px 0px 30px;
    padding: 10px 20px;

}

.prev {
    left: 0;
    border-radius: 0 30px 30px 0;
    padding: 10px;
}

.prev:hover,
.next:hover {
    background-color: var(--blue);
}

.new-product-heading>a {

    font-size: 13px;
    color: rgba(1, 86, 255, 1);



}


.new-product {
    margin-bottom: -50px;
}




.new-product-heading {
    padding-top: 45px;
    padding-bottom: 21px;
}


.card-stock {
    position: relative;
    color: rgba(120, 169, 98, 1);
    font-size: 10px;
    padding: 7px 20px 7px 0;






}

.card-stock::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 16px;
    background-image: url(./images/checked.png);
    background-repeat: no-repeat;
    background-position: left center;
    left: 0;
    top: 20%;
}

.card-checked {
    color: rgba(201, 77, 63, 1);

}

.card-checked::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 16px;
    background-image: url(./images/call.png);
    background-repeat: no-repeat;
    background-position: left center;
    left: 0;
    top: 20%;

}

.bg-gray {
    background: rgba(102, 102, 102, 1);
    opacity: 20%;

}

.bg-gray:hover {
    opacity: 1;
}

.card-reviews {
    color: rgba(162, 166, 176, 1);
    font-size: 12px;
    position: relative;
    padding: 10px;
    text-align: right;

}

.card-reviews::before {
    position: absolute;
    content: "";
    background-image: url(../images/stars.png);
    background-repeat: no-repeat;
    background-position: left center;
    left: 0;
    top: 30%;
    width: 100%;
    height: 16px;
}

.card-info {
    font-size: 13px;
    max-width: 185px;
    margin-bottom: 15px;

}

.stock-cards {
    display: flex;
    flex-direction: column;


    position: relative;
    width: 235px;
    height: 400px;


    padding: 0 25px 40px;
    cursor: pointer;










}







.align-slf:hover {
    position: relative;
    z-index: 55;
}

.stock-card-img {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 20px;
    top: 20px;

    visibility: hidden;




}

.stock-cards:hover {
    box-shadow: 2px 4px 5px 4px #88888852;



    background-color: var(--white);







}











.align-slf {
    align-self: start;
}







.hidden-btn {
    visibility: hidden;
    background-color: var(--white);
    border: 2px solid var(--blue);
    padding: 10px 15px;
    border-radius: 30px;
    color: var(--blue);
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    width: 150px;

    margin-left: 20px;
    margin-top: -15px;





}



.shop-basket {
    transform: translate(-5px, 4px);
}

.stock-cards:hover .hidden-btn {
    visibility: visible;


}

.stock-cards:hover .stock-card-img {
    visibility: visible;
}

.hidden-btn:hover {
    transform: scale(1.1);
}





.stock-cards>img {
    width: 150px;
    height: 150px;
}

.new-product-bottom {
    background-color: rgba(245, 247, 255, 1);

}





.fix-scrl {
    position: fixed;
    right: 30px;
    bottom: 0;
    z-index: 555;


}

.flx-cntr {

    display: flex;


    justify-content: center;
    gap: 14px;
    padding: 21px 0 36px;




}

.own_for_free {
    background-color: rgba(245, 247, 255, 1);
    height: 70px;
    width: 1398px;
    margin: 18px 0 14px;



}

.own {
    font-weight: 600;
    font-size: 18px;
}

.free-months {
    font-size: 14px;
    color: rgba(39, 37, 96, 1);

}


.free-months>a {
    color: rgba(39, 37, 96, 1);
}





.series-list>a {
    color: rgba(131, 131, 131, 1);
    font-weight: 600;
    font-size: 16px;

}




.series-list:first-of-type a {
    color: var(--black);
    border-bottom: 2px solid var(--blue);
}

.series-list:hover,
.series-list:hover a {
    color: var(--black);
}

.series-list {
    margin: 36px 0 23px;
}




.flx-col {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: flex-end;
    text-align: center;
    padding-bottom: 31px;
    color: var(--white);
    gap: 90px;
    height: 350px;
    width: 232px;






















}




.flx-col>a {
    color: var(--white);
    font-weight: 400;
    font-size: 13px;
}

.bg-img-one {
    background-image: url(../images/custome-builds-1.png);
    background-repeat: no-repeat;


}

.bg-img-two {
    background-image: url(../images/laptops.png);
    background-repeat: no-repeat;

}

.bg-img-three {
    background-image: url(../images/descktop.png);
    background-repeat: no-repeat;


}

.bg-img-four {
    background-image: url(../images/msi-bg.png);
    background-repeat: no-repeat;




}

.Msi_series,
.Descktop_series,
.msi_laptop_series {
    height: 400px;
    margin-bottom: 31px;
}

.custom_build_series {
    height: 346px;

}

.Msi_series {
    padding-top: 31px;
}







.brands {
    display: flex;
    align-items: flex-end;
    height: 150px;
    margin-top: 66px;
    padding-bottom: 50px;
    padding-top: 10px;


}

.bg-hovr {
    width: 200px;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-hovr:hover {
    background-color: rgba(128, 128, 128, 0.233);


}


.flx-wrpp {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 10px;
    padding-top: 21px;


}

.card-flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.instructions {
    max-width: 185px;
    font-size: 12px;
    text-align: center;
    padding: 10px 0;


}

.date {
    color: rgba(162, 166, 176, 1);
    font-size: 10px;



}

.testimonial_card {
    background: #F5F7FF;
    height: 310px;
    width: 1160px;
    padding: 49px 119px 69px 191px;
    margin: 67px 0 61px;









}

.testimonial {
    display: flex;
    justify-content: center;
}

.client-reaction {
    max-width: 850px;
    font-size: 18px;
    position: relative;
    padding: 10px;


}

.client-reaction::before {
    position: absolute;
    content: "";
    background-image: url(../images/quote.png);
    left: 0;
    top: 10%;
    width: 100%;
    height: 46px;
    background-repeat: no-repeat;
    background-position: left top;
    transform: translateX(-50px);
}






.client-name {
    font-size: 14px;
    text-align: right;


}


.circls-flx {
    display: flex;
    gap: 10px;
}

.circl {
    cursor: pointer;
    background: rgba(202, 205, 216, 1);
    border-radius: 50px;
    width: 12px;
    height: 12px;
}

.circl:hover {
    background-color: var(--blue);
    transform: scale(1.3);
}

.blue-circl {
    background-color: var(--blue);

}

.blue_bttn {
    color: var(--blue);
    background: rgba(245, 247, 255, 1);

    font-weight: 600;
    font-size: 14px;
    border: 2px solid var(--blue);
    padding: 8px 26px;
    border-radius: 20px;
    transform: translateX(-70px);
    cursor: pointer;


}

.blue_bttn:hover {
    transform: translateX(-70px) scale(1.3);
}


.btns-flx {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 20px;
}



.bg-blue {
    background-color: var(--blue);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 65px;
}

.banking-info {
    font-size: 14px;
    max-width: 265px;
    text-align: center;
}

.card-flx {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 187px;
    padding-bottom: 44px;
}

.breadcrumbs {
    padding: 20px 0 0;
}

.footer-sign-up {
    padding-bottom: 45px;
}

.sign {
    font-weight: 300;
    font-size: 16px;
    margin-top: 9px;
}



input[type=submit],
.creat-bttn {
    background-color: var(--blue);
    color: var(--white);
    width: 151px;
    height: 50px;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;

    border: none;
    display: inline-block;
    box-sizing: border-box;
    padding: 10px;
}

.breadcrumbs {
    padding: 21px 0 19px;
}



.footer-navigation {
    display: flex;
    gap: 90px;
    align-items: flex-start;
}


.footer-list>a {
    color: rgba(255, 255, 255, 1);
    font-size: 13px;
}

.footer-address-list {
    max-width: 300px;
    font-size: 13px;
    color: rgba(255, 255, 255, 1);
    padding-bottom: 5px;
}

.blue-colr {
    color: rgba(1, 164, 255, 1);
}

.brdr-top {
    border-top: 2px solid rgba(255, 255, 255, 0.2);
    padding: 19px 0;
    margin-top: 36px;

}

.footer-copyright {
    font-weight: 500;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);

}